<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- It links to a CSS stylesheet hosted on CDNJS (a content delivery network) -->
</head>

<div *ngFor="let component of component" class="container">
    <button (click)="goBack()" title="Go Back"><i class="fas fa-long-arrow-alt-left"></i></button>
    <h2>Component Details</h2>
    <p><strong>Id:</strong>{{ component.id }}</p>
    <p><strong>Name:</strong>{{ component.name }}</p>
    <p><strong>Description:</strong>{{ component.description }}</p>
    <p><strong>Status:</strong>{{ toSentenceCase(component.status) }}</p>
    <a [href]="component.url" target="_blank"><button title="View on GitHub">View on github</button></a>
    <button (click)="update(component.id,'approved')"  [disabled]="component.status==='approved'|| component.status==='rejected'" title="Approve">Approve</button>
    <button (click)="openPopup()"  [disabled]="component.status==='approved'|| component.status==='rejected'" title="Reject">Reject</button>
    <button (click)="moreInfo()">More Info</button>

    <div class="overlay" *ngIf="isOpen">
        <div class="popup">
            <h2>Required Changes / Feedback</h2>
            <textarea [(ngModel)]="comment" placeholder="Write your comment here..."></textarea>
            <div class="buttons">
                <button (click)="submitComment(comment,component.id); update(component.id,'rejected')" class="submit" title="Submit Feedback">Submit</button>
                <button class="cancel" (click)="closePopup()" title="Go Back">Cancel</button>
            </div>
        </div>
    </div>
</div>