<div class="timeline-container" *ngFor="let component of component">

    <h2>{{component.id}} : {{component.name}}</h2>

    <div class="tieline">
        <div class="timeline-item created">
            <div class="timeline-content">
                <h3>Created</h3>
                <p><strong>by: </strong>{{component.created_by}}</p>
                <p><strong>currently: </strong>{{component.status}}</p>
                <p><strong>on: </strong>{{component.created_at | date:'dd-MM-YY'}}</p>
                <p><strong>at: </strong>{{component.created_at | date:'hh:mm'}}</p>
            </div>
        </div>

        <div class="timeline-item reviewed">
            <div class="timeline-content">
                <h3>Reviewed</h3>
                <p><strong>by:</strong>{{component.reviewed_by}}</p>
                <p><strong>Reviewer Status: </strong>{{component.reviewer_status}}</p>
                <p><strong>at: </strong>{{component.reviewed_at | date:'dd-MM-YY'}}</p>
                <p><strong>Comment: </strong>{{component.reviewer_description}}</p>
            </div>
        </div>

        <div class="timeline-item approved">
            <div class="timeline-content">
                <h3>Approved</h3>
                <p><strong>by: </strong>{{component.approved_by}}</p>
                <p><strong>Approver Status: </strong>{{component.approver_status}}</p>
                <p><strong>at: </strong>{{component.approved_at | date:'dd-MM-YY'}}</p>
                <p><strong>Comment: </strong>{{component.approver_feedback}}</p>
            </div>
        </div>

    </div>

    <div class="button-container">
        <!-- <button routerLink="/contributor/{{component.name}}" class="btn">Back</button> -->
        <button (click)="goBack(component.created_by)" class="btn">Back</button>
    </div>

</div>