<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<div class="main-content">
    <div class="header-banner">
        <div class="logo-banner"></div>
        <button routerLink="/homepage" class="btn">Home</button>
    </div>

<div *ngIf="open" class="block">
            <div *ngFor="let component of components3;" class="notification-card">
                <i class="fas fa-bell"></i>
                <div>
                    <strong><a [attr.href]="'/timeline/' + component.id">{{ component.notification }}</a></strong>
                </div>
                <button class="wrong" (click)="removeNotification(component.id)"><i class="fas fa-times"></i></button>
            </div>
        </div>


    <div class="content">
        <div class="name" *ngFor="let component of component1;">
            <h3><i class="fas fa-user-edit"></i> Hello {{component.username}},</h3>
        </div>

        <div class="filters">
            <input type="text" [(ngModel)]="searchText" placeholder="Search by name..." (change)="search(searchText)">
            <select id="myselect" [(ngModel)]="selectedCategory" (change)="fetch(selectedCategory)">
                <option value="" hidden>All Categories</option>
                <option value="all">All Categories</option>
                <option value="approved">Approved</option>
                <option value="rejected">Rejected</option>
                <option value="returned">Returned</option>
                <option value="reviewed">Reviewed</option>
                <option value="pending_approve">Pending for Approval</option>
            </select>
        </div>
        <table *ngIf="components.length>0" class="styled-table">
            <thead>
                <tr>
                    <th>Component Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Current Status</th>
                    <th>Action</th>
                    <th>Created by</th>
                    <th>Review time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let component of components;">
                    <td>{{ component.id}}</td>
                    <td>{{ component.name}}</td>
                    <td>{{component.description}}</td>
                    <td>{{component.status}}</td>
                    <td>
                        <div class="button-container">
                            <button (click)="detailLink(component.id)" class="btn">View</button>
                        </div>
                    </td>
                    <td>{{component.created_by}}</td>
                    <td>{{component.reviewed_at | date:'dd-MM-YY'}}</td>
                </tr>
            </tbody>
        </table>

        <p *ngIf="components.length === 0">No components available.</p>
    </div>
</div>