<div class="main-content">

    <div class="header-banner" *ngFor="let component of component1;">
        

        <button routerLink="/homepage" class="view-btn">Home</button>
    </div>
<div class="content">
    <div class="filters">
        <input type="text" [(ngModel)]="searchText" placeholder="Search by name..." (change)="search(searchText)">
        <select id="myselect" [(ngModel)]="selectedCategory" (change)="fetch(selectedCategory)">
            <option value="" hidden >All Categories</option>
            <option value="all">All Categories</option>
            <option value="approved">Approved</option>
            <option value="rejected">Rejected</option>
            <option value="returned">Returned</option>
            <option value="reviewed">Reviewed</option>
            <option value="pending_approve">Pending for Approval</option>
        </select>
    </div>

    <table *ngIf="components.length>0" class="styled-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Current Status</th>
                <th>Action</th>
                <th>Created by</th>
                <th>Review time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let component of components;">
                <td>{{ component.id}}</td>
                <td>{{ component.name}}</td>
                <td>{{component.description}}</td>
                <td>{{component.status}}</td>
                <td>
                    <div class="button-container">
                        <button (click)="detailLink(component.id)" class="btn">View</button>
                    </div>
                </td>
                <td>{{component.created_by}}</td>
                <td>{{component.reviewed_at | date:'dd-MM-YY'}}</td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="components.length === 0">No components available.</p>
</div>
</div>