
.modal {
    /* position: fixed;
    top: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000; */
    /* background-image: url('https://images7.alphacoders.com/909/thumb-1920-909408.jpg');
    background-attachment: fixed;
    background-color:#121212;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;

}

.box{
    position: fixed;
    top: 30%;
    right: 250px;
    padding: 10px 15px;
    border-radius:8px;
    background: rgba(0, 0, 0, 0.5);
} */
