<!-- 
<p>Test</p>
<button (click)="openLogin()">Login</button> -->

<!-- <div *ngFor="let newComponent of components;">
<p>{{ newComponent.id }}</p>
<p>{{ newComponent.role }}</p>
<p>{{ newComponent.username }}</p>
<p>{{ newComponent.password }}</p>
</div> -->

<!-- <button routerLink="/homepage" class="btn">Home</button> -->

<div class="modal" *ngIf="showLogin">
    
    <h3>Login</h3>
    <label>UserName</label>
    <input type="text" [(ngModel)]="newComponent.username" /><br>
    <label>Password</label>
    <input type="password" [(ngModel)]="newComponent.password" /><br>
    <button (click)="checkLogin(newComponent.username)">Login</button>
    <button (click)="closeLogin()">Cancel</button>
</div>

<div class="overlay" *ngIf="showLogin" (click)="closeLogin()"></div>